.card-wrapper {
  width: 300px;
  height: 500px;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
}

.card-wrapper:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

.card-container {
  width: 100%;
  height: 100%;
}

.card-top {
  height: 80%;
  width: 100%;
  object-fit: cover;
}

.card-bottom {
  width: 200%;
  height: 20%;
  transition: transform 0.5s;
  color: var(--font-color-dark);
}

.light .card-bottom {
  color: var(--font-color-light)
}

.card-bottom.clicked {
  transform: translateX(-50%);
}

.card-left {
  height: 100%;
  width: 50%;
  background: var(--fourth-color-dark);
  position: relative;
  float: left;
}

.light .card-left {
  background: var(--fourth-color);
}

.card-details-left {
  float: left;
  width: calc(70%);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.card-buy {
  float: right;
  width: calc(30% - 2px);
  height: 100%;
  transition: background 0.5s;
  border-left: solid thin rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card-buy-icon {
  width: 50%;
  height: 50%;
  transition: transform 0.5s;
  color: var(--main-color);
}

.light .card-buy-icon {
  color: var(--main-color);
}


.card-buy:hover {
  background: var(--main-color);
}

.light .card-buy:hover {
  background: var(--main-color);
  color: #fff;
}

.card-buy:hover .card-buy-icon {
  color: #fff;
}

.card-right {
  width: 50%;
  background: #98b691;
  float: right;
  height: 200%;
  overflow: hidden;
}
.card-details-right {
  float: left;
  width: calc(70%);
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 10px;
}
.light .card-right {
  background: #98b691;
}

.card-done {
  width: calc(30% - 2px);
  float: left;
  transition: transform 0.5s;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card-done-icon {
  width: 50%;
  max-width: 100px;
  height: 50%;
  color: white;
}

.card-remove {
  width: calc(30% - 1px);
  clear: both;
  height: 50%;
  background: #BC3B59;
  transition: transform 0.5s, background 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card-remove:hover {
  background: #9B2847;
}

/* .card-remove:hover .card-remove-icon {
  transform: translateY(5px);
} */

.card-remove-icon {
  transition: transform 0.5s;
  width: 50%;
  max-width: 100px;
  height: 50%;
  color: #fff;
}

.card-right:hover .card-remove,
.card-right:hover .card-done {
  transform: translateY(-100%);
}

.card-inside {
  z-index: 9;
  background: var(--main-color);
  width: 50px;
  height: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  border-bottom-left-radius: 100%;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}

.card-info {
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.card-info-icon {
  width: 30px;
  height: 30px;
  position: relative;
  bottom: 7px;
  left: 7px;
}

.card-inside:hover {
  width: 100%;
  border-radius: 0;
  height: 80%;
}

.card-inside:hover .card-info {
  display: none;
}

.card-inside:hover .card-contents {
  opacity: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  justify-content: space-around;
  height: 100%;
}

.card-contents {
  padding: 5%;
  opacity: 0;
  display: none;
  transition: display 0.2s, opacity 0.8s;
}

.card-contents table {
  text-align: left;
  width: 100%;
}

.card-contents h1,
.card-contents p,
.card-contents table {
  color: white;
}

.card-contents p {
  font-size: 13px;
}

.button-card {
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.button-card:hover {
  cursor: pointer;
}

.card-details-p {
  font-size: 20px;
}

.box-btn-card{
  
  font-family: Agrandir, Verdana, Geneva, sans-serif;
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  /* background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  box-shadow: 0px 0px 14px -7px #f09819; */
  cursor: pointer;
  /* background-color: var(--main-color-dark); */
  /* background-image: linear-gradient(45deg, var(--main-color-dark) 0%, var(--main-color)  51%, var(--main-color-dark)  100%); */
  background-image: linear-gradient(45deg, var(--main-color) 0%, var(--main-color-dark)  51%, var(--main-color)  100%);
  box-shadow: 0px 0px 14px -7px var(--main-dark);
  font-size: 1rem;
}

.box-btn-card:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.box-btn-card:active {
  transform: scale(0.95);
}