.comment-message{
    border-radius:10px;
    height: 116px;
    width: 75%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 22px;
    border-left: 1px solid var(--third-color);
    border-radius: 0;
}
.comment-message-p{
    padding: 10px;
}

.comment-profile{
    border-radius: 10px 0 0 10px;
    width: 25%;
    background-color: rgba(167, 187, 146, 0.46);
}
.comment-container{
    width: 100%;
    display: flex;
    text-align: center;
    border: 1px solid var(--third-color);
    border-radius: 10px;
}
.comment-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.comment-title{
    width: 100%;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    /* align-self: center; */
}
.comment-boxcomment{
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.btn{
    display: flex;
    justify-content: center;
}
.comment-main{
    max-width: 1140px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    border: 1px solid var(--third-color);
    border-radius: 10px;
    padding: 5vh 0;
}
.comment-createcomment{
    display: flex;
    flex-direction: column;
    padding: 5vh 0;
    width: 90%;
    max-width: 1140px;
}
.create-comment{
    padding: 10px;
    border-radius: 10px;
}
.buttoncomment{
    cursor: pointer;
}
.inputForm-input{
    font-family: Source Sans Pro, "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 200;
    color: rgb(80, 80, 80);
    padding: 12px;
    font-size: 17px;
    height: 48px;
    width: 100%;
    padding: 1vh;
    outline: none;
    border: 1px solid var(--third-color);
    border-radius: 10px;
    margin-bottom: 25px;
}

@media (max-width: 600px) {
    .comment-container{
        display: flex;
        width: 100%;
    }
    
    .comment-img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    .comment-profile{
        border-radius: 10px;
        width: 25%;
    }
}