.contact-page{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 80vh;
}

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 7vh 20px;
}
.contact-info{
    display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
    padding: 5vh;
    border: 1px solid #a7bb9275;
    border-radius: 10px;
	gap: 3vh;
}
.contact-info:hover{
    box-shadow: 0px 0px 10px 1px #a7bb9275;}

.contact-me{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	width: 100%;
	padding: 0 5%;
	text-align: center;
}
.contact-me>h2{
	letter-spacing: 0.1rem;
	font-weight: 400;
}
.contact-me-data{
	font-weight: 400;
	font-size: 18px;
}
.contact-me-data>span{
	margin-left: 10px;
}

.contact-description{
	display: flex;
	flex-direction: column;
	justify-content:center;
}
.contact-inputs{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.contact-title{
    font-size: 35px;
	text-align: center;
}
.contact{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-bottom: 5vh;
	border-bottom: 1px solid rgba(0,0,0, 0.13);
	width: 100%;
}

.contact-description-p{
	padding: 3vh 0;
	font-size: 22px;
}

.contact-map-img{
	object-fit: cover;
	transition:  .5s all;
}
.contact-map{
	cursor: pointer;
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 0.308);
	box-shadow: 0px 0px 10px 1px rgb(168, 168, 168);
}
.contact-map-img:hover{
	transform: scale(1.5);
}

.contact-inputs .contact-input {
    font-family: Source Sans Pro, "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 200;
    color: rgb(80, 80, 80);
    padding: 12px;
    height: 48px;
    width: 100%;
    margin: 10px 0;
    padding: 1vh;
    outline: none;
    border: 1px solid var(--third-color);
    border-radius: 10px;
    font-size: 17px;
/* 
	background-color: #00000003;
	width: 100%;
	box-sizing: border-box;
	letter-spacing: 1px;
	padding: .5rem;
	border-radius: 10px;
    margin: 10px 0;
    border: 2px solid;
	text-indent: 5px;
	
    font-weight: 200;
    color: rgb(80, 80, 80);
    padding: 12px;
    font-size: 17px;
    height: 48px;
    width: 100%;
    padding: 1vh;
    outline: none;
    border: 1px solid var(--third-color);
    border-radius: 10px; */
}
.contact-inputs .contact-input:focus {
    border: 3px solid var(--third-color);
}


/* 
@media (max-width:320px){
	.contact-map{
		width: 280px;
	}
	.contact-description-p{
		font-size: 1rem;
	}
	.contact-me-p{
		font-size: 1.5rem;
	}
	.contact-description{
		width: 270px;
	}
}
@media (max-width:375px){
	.contact-map{
		width: 280px;
	}
	.contact-description-p{
		font-size: 1rem;
	}
	.contact-me-p{
		font-size: 1.5rem;
	}
	.contact-description{
		width: 270px;
	}
}
@media (max-width:425px){
	.contact-map{
		width: 280px;
	}
	.contact-description-p{
		font-size: 1rem;
	}
	.contact-me-p{
		font-size: 1.5rem;
	}
	.contact-description{
		width: 270px;
	}
} */
@media (max-width:768px){
	.contact-map{
		width: 280px;
	}
}