.detail{
    /* display: flex; */
    align-items: center;
    background-color: red;
    max-width: 1000px;
}
.detail-container{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    flex-direction: column;
}
.detail-back-add{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.detail-back-add > button{
    margin: 5px 20px;
    padding: 5px 20px;
    border-radius: 20px;
    font-weight: bold;
    width: 6rem;
}
.detail-description{
    padding: 20px 5px;
    text-align: center;
}

.detail-sub-description{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.detail-all-info{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.detail-modal{
    border: 2px solid black;
    min-height: 20rem;
    max-width: 60rem;
    position: relative;
    background-color: white;
    bottom: 60px;
}
.detail-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.detail-article{
    display: flex;
    justify-content: center;
}
.detail-subtitle{
    font-size: 25px;
    padding: 20px 0;
}
.detail-title{
    font-size: 35px;
    text-align: center;
}
.detail-banner{
    position: relative;
    width: 100%;
    height: 60vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.detail-banner-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail-table:nth-of-type(odd) {
    background-color: rgb(201, 242, 156);
}


@media (max-width: 425px){
    .detail-img{
        width:280px;
        /* border:2px solid black; */
        border-radius: 20px;
    }
    .detail-description{
        font-size: 20px;
    }
    .detail-info-p{
        font-size: 13px;
    }
    .detail-modal{
        margin: 12px;
    }
}