.footer-container{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 0 2rem;
}
.footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    min-height: 20vh;
    padding: 20px 0;
}
.footer-text{
    text-align: center;
    margin: 0;
    font-size: 1.2rem;
}
.footer-logo{
    width: 100px;
}
.footer-col-social{
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.whatsapp-ico{
    width: 65px;
    height: 65px;
    padding: 3px;
}
.facebook-ico{
    width: 55px;
    height: 55px;
    padding: 8px;
    margin: 0 5px;
}

.instagram-ico{
    width: 42px;
    height: 42px;
    margin: 0 5px;
}

.footer-link{
    text-decoration: none;
    font-size: 1.2rem;
}

.footer-rights-p{
    text-align: center;
    font-family: 'Edu QLD Beginner', cursive;
    font-size: 1.2rem;
}

.footer-media-icon{
    width: 4vh;
    margin: 0.4rem;
}

.footer-col2{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.footer-col3{
    margin: 1rem;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
