
.headroom{
    z-index: 300;
    top: 0;
    right: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 -1px 8px 0 rgb(0 0 0 / 20%);
}
.headroom--unfixed {
    position: relative;
    transform: translateY(0);
}
.headroom--scrolled {
    transition: transform 200ms ease-in-out;
}
.headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
}
.headroom--pinned {
    position: fixed;
    transform: translateY(0%);
}

.header-buttons-img {
    height: 2em;
    cursor: pointer;
}
.header-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
    padding: 0 1rem;
    min-width: 33%
}
.header-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 33%;
}
.header-logo{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.header-title{
    text-align: center;
    min-width: 33%;
    font-family: 'Edu QLD Beginner', cursive;
}

.link{
    text-decoration: none;
    padding: 10px;
    transition: all .2s;
    text-align: center;
}
.header-top-conteiner{
    width:100%;
    display: flex;
    justify-content: center;
    z-index: 200;
}
.header-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 10vh;
    width: 100%;
    max-width: 1400px;
}
.header-nav-conteiner{
    width:100%;
    display: flex;
    justify-content: center;
    z-index: 190;
    box-shadow: 0 -1px 8px 0 rgb(0 0 0 / 20%);
}
.header-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 190;
    width: 100%;
    max-width: 1400px;
    font-weight: 800;
    

}
@media (max-width: 320px){
    h1{
    font-size: 20px;
    }
    .header-buttons{
        display: none;
    }
}