.hiw-main{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 80vh;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.hiw-content{
    width: 100%;
    max-width: 1400px;
    padding-top: 10vh ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hiw-guide{
    padding: 3rem 0;
    text-align: center;
    width: 100%;
}
.hiw-guide h2{
    margin-bottom: 3rem;
}
.hiw-guide .flex > div {
    width: 30%;
}
.hiw-guide h4 {
    color: #343a40;
    margin-top: 1rem;
}
.hiw-guide img {
    border-radius: 5px;
}
.hiw-promo{
    /* width: 100%;
    max-width: 1000px;
    min-height: 250px;
    border-radius: 20px;
    margin-bottom: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    width: 50%;
}
.hiw-benefits{
    width: 100%;
    max-width: 1000px;
    min-height: 250px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5vh;
}
.hiw-faq{
    width: 100%;
    max-width: 1000px;
    min-height: 250px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5vh;
}
.hiw-text{
    text-align: center;
    font-size: 1rem;
}