.hiw-main {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 80vh;
    padding-bottom: 5vh;
    transition: all .2s ease-in-out;
}

.hiw-content {
    width: 100%;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.hiw-content h4 {
    margin: 0;
    padding: 0;
    font-size: 1.15rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hiw-content p {
    color: #7b7b7b;
    line-height: 2;
    font-size: 0.95rem;
}

.hiw-container {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}

.hiw-flex {
    display: flex;
    justify-content: space-between;
}

/* step-by-step guide section */
.hiw-box {
    text-align: center;
}

.hiw-text {
    text-align: center;
    font-size: 1rem;
}

.hiw-box {
    width: 31%;
}

.hiw-guide .hiw-box>img {
    width: 100%;
    border-radius: 5px;
}

.hiw-guide .hiw-box .hiw-guide-info-container {
    position: relative;
}

.hiw-guide-icon {
    position: relative;
    margin: 0 auto;
    border-radius: 45px;
    top: -35px;
    width: 88px;
    height: 88px;
    line-height: 83px;
    text-align: center;
    color: white;
    font-size: 2rem;
}

/* mobile app promo section */
.hiw-promo {
    width: 100%;
    max-width: 1100px;
    min-height: 250px;
    border-radius: 5px;
    border: 2px solid red;
}

/* why choose us section */
.hiw-benefits {
    width: 100%;
    max-width: 1100px;
    border-radius: 5px;
}




.hiw-why-us-head {
    margin-bottom: 60px;
}

.hiw-why-us-head h4 {
    position: relative;
    padding: 0;
    color: #f91942;
    line-height: 1;
    letter-spacing: 0.3px;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    text-transform: none;
    margin-bottom: 30px;
}

.hiw-why-us-head h4:before {
    content: "";
    width: 60px;
    height: 3px;
    background: #f91942;
    position: absolute;
    left: 0px;
    bottom: -10px;
    right: 0;
    margin: 0 auto;
}

.hiw-why-us-head h4 span {
    font-weight: 700;
    padding-bottom: 5px;
}

.hiw-why-us-head p {
    line-height: 28px;
    text-align: center;
}

.hiw-why-us-container {
    display: flex;
    justify-content: center;
    gap: 2vh;
    flex-wrap: wrap;
}


.hiw-why-us-item {
    width: 250px;
    height: 300px;
    text-align: center;
    padding-top: 15px;
    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    transition: all 0.5s ease 0s;
}

.hiw-why-us-item:hover {
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease 0s;
}

.hiw-why-us-item:hover .hiw-why-us-item,
.hiw-why-us-item:hover span.hiw-why-us-icon {
    border-radius: 10px;
    transition: all 0.5s ease 0s;
}

.hiw-why-us-item:hover h6,
.hiw-why-us-item:hover p {
    color: #fff;
    transition: all 0.5s ease 0s;
}

.hiw-why-us-icon {
    display: inline-block;
    margin-bottom: 25px;
    width: 90px;
    height: 90px;
    line-height: 96px;
    border-radius: 50px;
    color: white;
    font-size: 2rem;
}

.feature-box-one {
    background: rgba(247, 198, 5, 0.2);
}

.feature-box-two {
    background: rgba(255, 77, 28, 0.15);
}

.feature-box-three {
    background: rgba(0, 147, 38, 0.15);
}

.feature-box-four {
    background: rgba(0, 108, 255, 0.15);
}


.hiw-why-us-item p {
    line-height: 26px;
}

.hiw-why-us-item h6 {
    margin-bottom: 20px;
}


/* frequently asked question section */
.hiw-faq {
    width: 100%;
    max-width: 1100px;
    min-height: 250px;
    border-radius: 5px;
    flex-wrap: wrap;
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 30px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.hiw-faq h1 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 32px;
    font-weight: 300;
}

.hiw-faq-topic {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.hiw-faq-open {
    cursor: pointer;
    display: block;
    padding: 0px;
}

.hiw-faq-open:hover {
    opacity: 0.7;
}

.hiw-faq-expanded {
    /* background-color: #f5f5f5; */
    transition: all .2s ease-in-out;
}

.hiw-faq-question {
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
}

.hiw-faq-answer {
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    transition: height .2s ease-in-out;
    overflow: hidden;
}

.hiw-faq-answer:not(.active) {
    display: none;
}

.hiw-faq-answer-wrapper {
    padding-bottom: 12px;
}

.hiw-faq-t {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    float: right;
    position: relative;
    top: -55px;
    right: 10px;
    width: 10px;
    height: 10px;
    background: transparent;
    transition: all .2s ease-in-out;
}

.hiw-faq-o {
    top: -50px;
    -moz-transform: rotate(-224deg);
    -ms-transform: rotate(-224deg);
    -webkit-transform: rotate(-224deg);
    transform: rotate(-224deg);
}

/* MEDIA QUERIES */
@media (max-width: 992px) {

    @media (max-width: 767px) {
        .hiw-h2 {
            font-size: 4rem;
            margin-top: 2rem;
        }

        .hiw-flex {
            display: block;
        }

        .hiw-flex .hiw-box {
            margin: 0 auto;
            width: 100% !important;
            margin-top: 3rem;
        }

        .hiw-flex .hiw-box:first-child {
            margin-top: 0;
        }

        .hiw-guide .hiw-box .hiw-guide-info-container {
            padding: 0 1rem;
        }
    }
}

@media only screen and (max-width: 480px) {
    .hiw-faq-t {
        display: none;
    }

    .hiw-faq-question {
        padding-right: 0px;
    }

    .hiw-faq {
        padding: 10px;
    }

    .hiw-faq-answer {
        padding-left: 0px;
        padding-right: 0px;
    }
}