.modal{
    position: fixed;
    z-index:100;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container{
    max-width: 600px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
}

.modal-close{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: rgb(225, 87, 87);
    color: white;
    border:rgb(225, 87, 87); 
    border-radius: 2px;
    cursor: pointer;
}

.modal-close:hover{
    background-color: rgb(228, 55, 55);
}

@media (max-width: 768px){
    .modal-container{
        width: 90%;
        min-width: 290px;
    }
}

@media (max-height: 700px){
    .modal-container{
        display: block;
        height: 400px;
        overflow-y: auto;
    }
}
