.modal-card-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
}
.modal-card-title{
    width: 100%;
}

.modal-card-img-container{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.modal-card-img{
    width: 100%;
    max-width: 600px;
    object-fit: contain;
    border: 2px solid black;
    border-radius: 20px 0 20px 0;
    box-shadow: 3px 3px 10px black;
}

.modal-card-description{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 50%;
}
.modal-card-sub-description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 12px 0;
}
.modal-card-link-add{
    display: flex;
    justify-content: space-around;
    padding: 12px 0;
}
.modal-card-button{
    padding: 3px 40px;
    border-radius: 20px;
}
.modal-card-recipe{
    font-size: 25px;
    text-decoration: none;
}