.modal-card-container p,.modal-card-container span, .modal-card-container h2 {
    text-shadow: 1px 1px #fff;
}
.modal-card-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
    position: relative;
}
.modal-card-background{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://img.freepik.com/fotos-premium/verduras-frescas-colores-coctelera-frutas-pimienta-escritorio-madera-blanca_23-2148062711.jpg);
    background-size: cover;
    filter: blur(4px) brightness(80%);
    z-index: -1;
}
.modal-card-title{
    width: 100%;
}
.modal-card-title-p{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-top: 25px;
    text-shadow: 1px 1px #fff;
}
.modal-card-img-container{
    display: flex;
    justify-content: center;
    width: 50%;
    min-width: 290px;
    max-height: 290px;
}
.modal-card-img{
    height: 100%;
    object-fit: contain;
    border: 2px solid black;
    border-radius: 20px 0 20px 0;
    box-shadow: 3px 3px 10px black;
}
.modal-card-span{
    font-weight: bold;
}

.modal-card-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}
.modal-card-sub-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 12px 0;
    width: 50%;
    font-size: 25px;
}
.modal-card-link-add{
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.modal-card-recipe{
    font-size: 25px;
    text-decoration: none;
    color: black;
    padding: 3px 40px;
    border-radius: 20px;
    border: 2px solid black;
    transition: all .4s;
    text-shadow: 1px 1px #fff;
    box-shadow: 1px 1px 4px #fff;
}
.modal-card-recipe:hover{
    transform: scale(.85);
}