.newrecipe-main{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 80vh;
}
.newrecipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 7vh 20px;
    gap: 4vh;
}

.newrecipe-container-steps{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 20px;
}

.new-recipe-guides{
    display: flex;
    justify-content: space-between
}
.new-recipe-guide-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    width: 31%;
    position: relative;
}
.new-recipe-guide-box>p{
    text-align: center;
}

.new-recipe-guide-icon{
    margin: 0 auto;
    border-radius: 45px;
    top: -35px;
    width: 88px;
    height: 88px;
    line-height: 83px;
    text-align: center;
    color: white;
    font-size: 2rem;
}

.newrecipes-container-recipe{
    display: flex;
    width: 100%;
    max-width: 1100px;
    min-height: 250px;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    box-shadow: 0 8px 20px 0px rgb(0 0 0 / 20%);
}
.newrecipe-form{
    width: 100%;
}
.newrecipes-container-recipe-text{
    padding: 20px;
    width: 50%;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 30px
}

.newrecipes-container-recipe-text>h2{
    font-weight: 400;
}

.newrecipes-container-recipe-img{
    width: 50%;
    background-image: url('https://i0.wp.com/ytimg.googleusercontent.com/vi/ggGnoZsnUtU/maxresdefault.jpg?resize=650,400');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newrecipes-container-recipe-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Agrandir, Verdana, Geneva, sans-serif;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-size: 26px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .3s;
    cursor: pointer;
    text-decoration: none;
}

.newrecipes-container-recipe-img{
    width: 50%;
    background-image: url('https://st3.depositphotos.com/4580293/32688/v/600/depositphotos_326887984-stock-video-natural-vegetables-and-green-herbs.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newrecipes-container-recipe-img:hover{
    box-shadow: 0px 0px 10px 1px #000;
}

.newrecipe-form{
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (max-width: 768px) {
    .newrecipes-container-recipe{
        display: block;
        width: 100%;
        height: min-content;
    }
    .newrecipes-container-recipe-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.5rem;
        width: 100%;
        min-height: 200px;
    }
    .newrecipes-container-recipe-img{
        width: 100%;
        height: 200px;
        background-image: url('https://st3.depositphotos.com/4580293/32688/v/600/depositphotos_326887984-stock-video-natural-vegetables-and-green-herbs.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .new-recipe-guides{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        text-align: center;
    }
    .new-recipe-guide-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 70%;
    }
    .new-recipe-guide-box>p{
        text-align: center;
    }
}