
.header {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}
.header-buttons-img {
    width: 40px;
    margin: 0 5px;
}
.header-buttons{
    display: flex;
    flex-wrap: wrap;
}
.header-dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: gray;
    /* margin-top: 10px; */
}

.link{
    text-decoration: none;
    color: rgb(0, 0, 0) ;
    padding: 10px;
    /* font-weight: bold; */
    transition: all .2s;
}
.header-top-conteiner{
    width:100%;
    display: flex;
    justify-content: center;
    z-index: 200;
    box-shadow: 0 -1px 8px 0 rgb(0 0 0 / 20%);
}
.header-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 10vh;
    width: 100%;
    max-width: 1400px;
}
.header-nav-conteiner{
    width:100%;
    display: flex;
    justify-content: center;
    z-index: 190;
    box-shadow: 0 -1px 8px 0 rgb(0 0 0 / 20%);
}
.header-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 190;
    width: 100%;
    max-width: 1400px;
}