* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Agrandir;
}

:root{  
  --fourth-color: #fff;
  --fourth-color-dark: #625335;
  /* --fiveth-color: #c7d6a4;  */
  --fiveth-color-dark: #615e52; 
  --main-color: #e89431; 
  --main-color-dark: #704718; 
  --third-color: #becead;
  --third-color-dark: #445334;
  --second-color: #4F5748;
  --second-color-dark: #232720;
  --font-color-light: #111;
  --bcg-color-light: #eee;
  --bcg-color-dark: #313131;
  --font-color-dark: #dadada;
  --col-green-0: #1B231A;
  --col-green-1: #50684B;
  --col-green-2: #64825E;
  --fiveth-color: #98b691;
  --input-green: #C7D4C4;
  --col-green-5: #EAEDE8;
}