.control-panel-main{
    width: 100%;
    min-height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.control-panel-title{
    margin: 20px 0 ;
    text-align: center;
    font-size: 40px;
}
.control-panel-nav{
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.control-panel-button{
    border-radius: 5px;
    border: 2px solid;
    margin: 20px 10px;
    padding: 10px 25px;
    text-decoration: none;
    cursor: pointer;
    transition: all .7s;
}
.control-panel-button:hover{
    transform: scale(0.85);
}

.box-panel-background{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5rem;
    margin-bottom: 3rem;
    border-radius: 12%;
}

.user-panel-role{
    width: 80%;
    
}
.box-panel-role{
    width: 40%;
    text-align: center; 
    margin: 2rem;
    padding: 1rem;
}