.profile-img{
    width: 200px;
    border-radius: 50%;
    margin-top: 25px;
    border: 3px solid black;
    box-shadow: 3px 3px 3px black;
    margin: 10%;
    overflow: hidden;
    transition: 1s;
}
.profile-img:hover {
    -webkit-transform-style: preserve-3d;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform-style: preserve-3d;
    transition: 1s;
}
.profile-container{
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-info p{
    font-size: 1.5rem;
    font-weight: 500;
    font-style: oblique;
}
.profile-info{
    padding-left: 20px;
}
.profile-bold{
    font-weight: bold;
    font-size: 1.5rem ;
    font-style: normal;
}
.my-profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    width: 100%;
    height: 100%;
}