.profile-menu-container{
    position: relative;
    width: 90vw;
    max-width: 1400px;
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.profile-menu-container:before{
    content: '' ;
    position: absolute ;
    left: 0;
    top: 0 ;
    opacity: 0.5;
    background-image: url(https://st.depositphotos.com/1001069/3566/i/450/depositphotos_35665509-stock-photo-various-spices-selection.jpg)!important;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100%;
    width: 100%;
}


.profile-menu-user, .profile-menu-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 50%;
    position: relative;
}
.profile-menu-photo{
    width: 150px;
    height: 150px;
    position: relative;
}
.profile-menu-user-top{
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 360px;
}
.profile-menu-edit-btn{
    position: relative;
    position: absolute;
    bottom: 0;
    right: 0;
}
.profile-menu-user-bottom{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
}
.profile-menu-user-bottom>p{
    position: relative;
    font-size: 1rem;
    text-align: start;
}
.profile-menu-opt{
    position: relative;
    text-decoration: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1rem;
    padding: .5rem;
    cursor: pointer;
}
.profile-menu-opt:hover{
    transform: scale(1.05);
}