.profile-menu-container{
    position: relative;
    max-width: 85;
    width: 80vw;
    max-width: 1400px;
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid 5px 0px 10px 0px black;
    border-color: double black;
}
.profile-menu-container:before{
    content: '' ;
    position: absolute ;
    left: 0;
    top: 0 ;
    opacity: 0.5;
    background-image: url(https://png.pngtree.com/background/20210715/original/pngtree-hand-drawn-line-simple-vegetable-healthy-food-background-picture-image_1300758.jpg)!important;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100%;
    width: 100%;
}


.profile-menu-user, .profile-menu-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 50%;
    position: relative;
}
.profile-menu-photo{
    width: 150px;
    height: 150px;
    position: relative;
}
.profile-menu-user-top{
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 360px;
}
.profile-menu-edit-btn{
    position: relative;
    position: absolute;
    bottom: 0;
    right: 0;
}
.profile-menu-user-bottom{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
}
.profile-menu-user-bottom>p{
    position: relative;
    font-size: 1rem;
    text-align: start;
}
.profile-menu-opt{
    position: relative;
    text-decoration: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    font-size: 1.5rem;
    margin: .2rem;
    padding: .8rem;
    cursor: pointer;
    font-weight: 500;
}
.profile-menu-opt:hover{
    transition: 0.6s;
    transform: scale(1.1);
    font-style: oblique;
    border-bottom: 8px double black;
}

