.profile-menu-container{
    width: 90vw;
    max-width: 1400px;
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.profile-menu-user, .profile-menu-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 50%;
}
.profile-menu-photo{
    width: 150px;
    height: 150px;
}
.profile-menu-user-top{
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 360px;
}
.profile-menu-edit-btn{
    position: absolute;
    bottom: 0;
    right: 0;
}
.profile-menu-user-bottom{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
}
.profile-menu-user-bottom>p{
    font-size: 1rem;
    text-align: start;
}
.profile-menu-opt{
    text-decoration: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1rem;
    padding: .5rem;
    cursor: pointer;
}
.profile-menu-opt:hover{
    transform: scale(1.05);
}